<div class="navbar-margin">
  <div class="banner">
    <div class="container banner-content">
      <div>
        <h1>Couchbase Tutorials</h1>
        <h2>Go hands-on with the Couchbase Data Platform</h2>
      </div>
    </div>
  </div>
  <div>
    <nav class="searchbar">
      <div class="container">
        <div class="searchbar-menu">
          <div class="searchbar-start">
            <form class="searchbar-item search">
              <input
                      autofocus
                      class="query"
                      id="search-tutorials"
                      placeholder="Find a tutorial"
                      type="text">
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container">
  <div class="home" data-ceiling="topbar">
    <div class="tutorials">
      <article class="doc">
{{{page.contents}}}
      </article>
    </div>
  </div>
</div>
