<div class="body container">
  <main class="article" data-ceiling="topbar">
    <article class="doc landing-page-doc">
      <h1 class="page"> Services </h1>
      <div class="card-row">
        <div class="column">
          <div class="paragraph">
            <p>Couchbase Services support access to and maintenance of data.
              Services can be deployed with flexibility across available
              hardware-resources, providing Multi-Dimensional Scaling, whereby a
              cluster can be tuned for optimal handling of emergent workloads</p>
          </div>
        </div>
        <div class="column">
          <figure class="media-left">
            <img src="_/img/landing-icon.svg" alt="" />
          </figure>
        </div>
      </div>

      <div class="card-row">

        <div class="column">
          <div class="sub-heading">
            <h3>Query </h3>
          </div>
          <div class="paragraph">
            <p>Couchbase Services support access to and maintenance of data.
              Services can be deployed with flexibility across available
              hardware-resources, providing Multi-Dimensional Scaling, whereby a
              cluster can be tuned for optimal handling of emergent workloads</p>
          </div>
          <ul class="list-group">
            <li><a href="#"> Query Overview</a></li>
            <li><a href="#"> Running Queries</a></li>
            <li><a href="#"> Query Tools </a></li>
          </ul>
        </div>
        <div class="column">
          <div class="sub-heading">
            <h3>Index </h3>
          </div>
          <div class="paragraph">
            <p>The Index Service supports the creation of primary and secondary
              indexes on items stored within Couchbase Server.</p>
          </div>
          <ul class="list-group">
            <li><a href="#"> Index Overview </a></li>
            <li><a href="#"> Primary vs. Secondary Indexes</a></li>
            <li><a href="#"> Create and Index </a></li>
            <li><a href="#">Availability and Performance</a></li>

          </ul>
        </div>
      </div>
      <div class="card-row">
        <div class="column">
          <div class="sub-heading">
            <h3>Eventing </h3>
          </div>
          <div class="paragraph">
            <p>
              The Eventing Service provides near real-time handling of changes
              to data; whereby code is executed either in response to mutations,
              or as scheduled by timers.
            </p>
          </div>
          <ul class="list-group">
            <li><a href="#"> Eventing Overview </a></li>
            <li><a href="#"> Running Queries </a></li>
            <li><a href="#"> Query Tools </a></li>
            <li><a href="#"> N1QL Query Language Reference </a></li>
          </ul>
        </div>
        <div class="column">
          <div class="media-box">
            <div class="media-heading">
              <h4>Introduction to Couchbase Services</h4>
            </div>
            <div class="media-body">
              <figure>
                <img src="_/img/video-media.svg" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </div>
      <div class="card-row">
        <div class="column">
          <div class="sub-heading">
            <h3>Analytics </h3>
          </div>
          <div class="paragraph">
            <p>
              The Analytics Service provides a parallel data-management
              capability; allowing the running of complex analytical queries.
            </p>
          </div>
          <ul class="list-group">
            <li><a href="#"> Analytics Overview</a></li>
            <li><a href="#"> Primary vs. Secondary Indexes </a></li>
            <li><a href="#"> Create and Index </a></li>
            <li><a href="#">Availability and Performance </a></li>
          </ul>
        </div>
        <div class="column">
          <div class="sub-heading">
            <h3>Full Text Search </h3>
          </div>
          <div class="paragraph">
            <p>
              Full Text Search (FTS) lets you create, manage, and query
              specially purposed indexes, defined on JSON documents within a
              Couchbase bucket.
            </p>
          </div>
          <ul class="list-group">
            <li><a href="#"> Full Text Search Overview</a></li>
            <li><a href="#"> Running Queries</a></li>
          </ul>
        </div>


      </div>



    </article>
  </main>
</div>
