<div class="body container-fluid">
  {{> nav}} 
  <main class="home archive" data-ceiling="topbar">
    <div class="jumbotron">
      <h1 >{{page.title}}</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling <br/>extra attention to featured content or information.</p>
      <form class="jumbotron-form">
        <label>
          <input class="adcsearch" type="search" name="q" id="" placeholder="Search Documentation Archive" autosave="">
        </label>
      </form>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <div class="documentsTable_Wrapper">
      <table>
        <thead class="docTable--head">
          <tr>
            <th class="names">Title </th>
            <th class="types">Resource Type</th>
            <th class="topics">Topic</th>
            <th class="technologies">Technology</th>
            <th class="revisionDates sortedOn1">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Error launching remote program: failed to get the task for process</td>
            <td>Technical Q&As</td>
            <td>Xcode</td>
            <td>StoreKit</td>
            <td>2010-02-23</td>
          </tr>
          <tr>
            <td>Error launching remote program: failed to get the task for process</td>
            <td>Technical Q&As</td>
            <td>Xcode</td>
            <td>StoreKit</td>
            <td>2010-02-23</td>
          </tr>
          <tr>
            <td>Error launching remote program: failed to get the task for process</td>
            <td>Technical Q&As</td>
            <td>Xcode</td>
            <td>StoreKit</td>
            <td>2010-02-23</td>
          </tr>
          <tr>
            <td>Error launching remote program: failed to get the task for process</td>
            <td>Technical Q&As</td>
            <td>Xcode</td>
            <td>StoreKit</td>
            <td>2010-02-23</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>