<div class="body container">
  <main class="article" data-ceiling="topbar">
    <article class="doc landing-page-doc">
      <h1 class="page"> Core Concepts </h1>
      <div class="card-row">
        <div class="column">
          <div class="paragraph">
            <p>
              Couchbase Server is an open source, distributed, NoSQL document-oriented engagement database.
               It exposes a fast key-value store with managed cache for sub-millisecond data operations,
               purpose-built indexers for fast queries and a powerful query engine for executing SQL-like queries.
            </p>
          </div>
        </div>
        <div class="column">
          <figure class="media-left">
            <img src="_/img/database-icon.svg" alt="" />
          </figure>
        </div>
      </div>

       <div class="sub-heading">
          <h2>Install and Deploy  </h2>
        </div>
      <div class="card-row three-column-row border-column-row">
        <div class="column">
          <div class="sub-heading">
            <h4>Before You Begin </h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> System Requirements</a></li>
            <li><a href="#"> Production Checklist</a></li>
   
          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h4>Installation </h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> Install on Linux </a></li>
            <li><a href="#"> Install on Windows </a></li>
              <li><a href="#"> Install on macOS</a></li> 
   
          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h4>Deployment </h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> Sizing a Cluster</a></li>
            <li><a href="#"> Create a Cluster </a></li>
   
          </ul>
        </div>
      </div>

      <div class="sub-heading">
          <h2> Learn  </h2>
        </div>

      <div class="card-row three-column-row border-column-row">
        <div class="column">
          <div class="sub-heading">
            <h4>Data</h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> Introduction to Couchbase Server </a></li>
            <li><a href="#"> Buckets and Collections </a></li>
             <li><a href="#"> Data Model </a></li>
   
          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h4>Buckets and Storage </h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> Installation </a></li>
            <li><a href="#"> Create a Cluster </a></li>
   
          </ul>
        </div>
         <div class="column">
          <div class="sub-heading">
            <h4>Security </h4>
          </div>
          <ul class="list-group">
            <li><a href="#"> Authentication </a></li>
            <li><a href="#"> Authorization </a></li>
             <li><a href="#"> Encryption </a></li>
   
          </ul>
        </div>
      </div>
  




    </article>
  </main>
</div>
