<nav class="crumbs" aria-label="breadcrumbs">
  {{#if page.breadcrumbs}}
  <ul>
    {{#with page.componentVersion}}
    {{#unless (and (eq ./title @root.page.breadcrumbs.0.content) @root.page.breadcrumbs.0.url)}}
    <li class="crumb"><a href="{{{relativize @root.page.url ./url}}}">{{{./title}}}</a></li>
    {{/unless}}
    {{/with}}
    {{#each page.breadcrumbs}}
    {{#if (eq ./urlType 'internal')}}
    <li class="crumb"><a href="{{{relativize @root.page.url ./url}}}">{{{./content}}}</a></li>
    {{/if}}
    {{/each}}
  </ul>
  {{/if}}
</nav>
