<footer class="footer">
  <div class="container">
    <div class="contact">
      <a class="button" href="https://www.couchbase.com/contact">Contact</a>
      <ul class="social">
        <li>
          <a class="linkedin" href="https://www.linkedin.com/company/couchbase">LinkedIn</a>
        </li>
        <li>
          <a class="twitter" href="https://twitter.com/couchbase">Twitter</a>
        </li>
        <li>
          <a class="facebook" href="https://www.facebook.com/Couchbase">Facebook</a>
        </li>
        <li>
          <a class="googleplus" href="https://plus.google.com/+CouchbaseServer">Google+</a>
        </li>
      </ul>
    </div>
    <div class="nav">
      <h3>Company</h3>
      <ul>
        <li>
          <a href="https://www.couchbase.com/about">About</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/leadership">Leadership</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/news-and-press-releases">News &amp; Press</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/careers">Careers</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/contact">Contact Us</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/subscriptions-and-support">Pricing</a>
        </li>
      </ul>
    </div>
    <div class="nav">
      <h3>Support</h3>
      <ul>
        <li>
          <a href="https://developer.couchbase.com/">Developer Portal</a>
        </li>
        <li>
          <a href="https://forums.couchbase.com/">Forums</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/services">Professional Services</a>
        </li>
        <li>
          <a href="https://support.couchbase.com/">Support Login</a>
        </li>
        <li>
          <a href="https://training.couchbase.com/">Training</a>
        </li>
      </ul>
    </div>
    <div class="nav">
      <h3>Quicklinks</h3>
      <ul>
        <li>
          <a href="https://blog.couchbase.com/">Blog</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/downloads">Downloads</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/get-started-developing-nosql">Get Started</a>
        </li>
        <li>
          <a href="https://training.couchbase.com/online">Online Training</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/resources">Resources</a>
        </li>
        <li>
          <a href="https://www.couchbase.com/resources/why-nosql">Why NoSQL</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
