<header class="header fixed-top">
  <nav class="navbar navbar-expand-md flex-nowrap justify-content-between navbar-new-top">
    <a class="navbar-brand" href="https://www.couchbase.com">
      <img src="{{uiRootPath}}/img/logo.png" alt="Couchbase" />
    </a>
    {{! <ul class="nav navbar-nav mr-auto"></ul> }}
    <div class="primary-action">
      <form class="navbar-item search">
        <input type="text" placeholder="Search Docs" class="query" id="search-query" />
        <button type="button" class="search">
          <span>
            Search
          </span>
        </button>
      </form>
      <div class="parent-site">
        <a href="couchbase.com">
          Couchbase.com
        </a>
      </div>
      <a class="btn btn-primary try-btn" href="https://www.couchbase.com/downloads">
        Try Free
      </a>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  {{! End primary header }}
  {{! Start secondary header }}
  <nav class="navbar navbar-expand-md pt-0 pb-0 navbar-new-bottom">
    <div class="navbar-collapse collapse" id="navbar2">
      <ul class="navbar-nav w-100 justify-content-start">
        <li class="nav-item active">
          <a class="nav-link" href="{{relativize site.components.server.url}}">
            Server
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            Mobile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            Cloud
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Integration
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            Get Started
            <span class="arrow">
              ->
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>