<main class="article" data-ceiling="topbar">
  {{#if (ne page.componentVersion page.component.latest)}}
  <div class="article-banner">
    {{#if page.componentVersion.prerelease}}
    <p>You are viewing the documentation for a prerelease version.</p>
    {{else}}
    <p>A newer version of this documentation is available.</p>
    {{/if}}
    <a class="btn" href="{{relativize (or page.latest.url page.versions.latest.url)}}">View Latest</a>
  </div>
  {{/if}}
  <div class="article-header">
{{> nav-control}}
{{> crumbs}}
{{> toolbar}}
  </div>
{{> article}}
</main>
