<main class="article" data-ceiling="topbar">
{{#if page.attributes.hide-view-latest}}
  <!-- No `View Latest` banner -->
{{else}}
  {{#if (ne page.componentVersion page.component.latest)}}
  <div class="article-banner">
    {{#if page.componentVersion.prerelease}}
    <p>You are viewing the documentation for a prerelease version.</p>
    {{else}}
    <p>A newer version of this documentation is available.</p>
    {{/if}}
    <a class="btn" href="{{ifelse (eq env.SUPPORTS_CURRENT_URL 'true') (relativize (current-url page.url)) (relativize page.latest.url)}}">View Latest</a>
  </div>
  {{/if}}
{{/if}}
  <div class="article-header">
{{> nav-control}}
{{> crumbs}}
{{> toolbar}}
  </div>
{{> article}}
</main>
