<main class="article" data-ceiling="topbar">
  {{#unless (or page.attributes.hide-view-latest (eq page.componentVersion page.component.latest))}}
  <div class="article-banner">
    {{#if (and page.componentVersion.prerelease (not page.latest.prerelease))}}
    <p>You are viewing the documentation for a prerelease version.</p>
    {{else}}
    <p>A newer version of this documentation is available.</p>
    {{/if}}
    <a class="btn" href="{{relativize (latest-page-url)}}">View Latest</a>
  </div>
  {{/unless}}
  <div class="article-header">
{{> nav-control}}
{{> crumbs}}
{{> toolbar}}
  </div>
{{> article}}
</main>
