<aside class="toc sidebar">
  <div class="sidebar-box">
      <div class="toc-menu"></div>
        <div class="is-this-helpful-box">
          <h4> Is this page helpful ?</h4>
            <div class="btn-row">
              <a href="#" class="yes-btn helpfull-btn" id="yesBtn" >
                     <i class="far fa-thumbs-up"></i>
                 Yes
                 </a>
              <a href="#" class="no-btn helpfull-btn" id="noBtn" > <i class="far fa-thumbs-down"></i> No</a>
            </div>
            <div class="dialog-box" id="dialogBox">
              <form>
                  <div class="form-group">
                    <textarea class="input-control" rows="8" placeholder="Any Additonal Feedback?"></textarea>
                    <div class="action-btn-row">
                      <a href="#" class="skip-btn" id="skipBtn">Skip</a>
                       <button class="submit-btn btn red-btn"> Submit  </button>
                       <a href="#" class="info-btn"><i class="fas fa-info-circle"></i></a>
                    </div>


                  </div>
              </form>
            </div>
      </div>
   </div>

</aside>

{{!-- <script src="https://kit.fontawesome.com/4a5569d39d.js" crossorigin="anonymous"></script> --}}