{{#if (eq page.component.name 'server')}}
<div class="toolbar" role="navigation">
  <ul>
    {{#if page.editUrl}}
    <li class="tool edit"><a href="{{page.editUrl}}" title="Edit this Page">Edit</a></li>
    {{/if}}
  </ul>
</div>
{{/if}}
