{{#if page.editUrl}}
{{#if (includes page.editUrl '/docs-server/')}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{page.editUrl}}" title="Edit this Page">Edit</a></li>
  </ul>
</div>
{{/if}}
{{/if}}
