{{#if (or (and page.fileUri (not env.CI)) (and page.editUrl (not page.origin.private)))}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{#if (and page.fileUri (not env.CI))}}{{page.fileUri}}{{else}}{{page.editUrl}}{{/if}}" title="Edit Page" target="_blank" rel="noopener">Edit</a></li>
  </ul>
</div>
{{/if}}
