{{#if page.editUrl}}
{{#unless (includes page.origin.url '@')}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{page.editUrl}}" title="Edit this Page">Edit</a></li>
  </ul>
</div>
{{/unless}}
{{/if}}
