{{#if page.editUrl}}
{{#if (eq page.component.name 'home')}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{home-edit-url page.editUrl 'https://github.com/couchbase/docs-site' page.origin.branch}}" title="Edit Page" target="_blank" rel="noopener">Edit</a></li>
  </ul>
</div>
{{else}}
{{#unless (and (or page.origin.private (includes page.origin.url '@')) (ne page.origin.worktree true))}}
<div class="tools" role="navigation">
  <ul>
    <li class="tool edit"><a href="{{page.editUrl}}" title="Edit Page" target="_blank" rel="noopener">Edit</a></li>
  </ul>
</div>
{{/unless}}
{{/if}}
{{/if}}
