.doc p {
  margin: 0;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6,
.doc p,
.doc th.tableblock,
/* FIXME td.content might get overzealous */
.doc td.content {
  hyphens: auto; /* NOTE: forces long words to break if necessary */
  word-break: break-word; /* NOTE: Chrome only supports hyphens on macOS and Android */
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  font-weight: var(--weight-normal);
  line-height: 1.2;
  margin: 1.0625rem 0 calc(0.625rem - 1rem) 0;
}

.doc h1 {
  font-size: 2.25rem;
  margin-bottom: calc(1.25rem - 1rem);
}

.doc > h1 {
  margin-top: 0;
}

#preamble + .sect1,
.doc .sect1 + .sect1 {
  margin-top: 1.5625rem;
}

.doc h2 {
  font-size: 2.1875rem;
}

.doc h3 {
  font-size: 1.5625rem;
}

.doc h4 {
  font-size: 1.25rem;
}

.doc h1 > a.anchor,
.doc h2 > a.anchor,
.doc h3 > a.anchor,
.doc h4 > a.anchor,
.doc h5 > a.anchor,
.doc h6 > a.anchor {
  color: var(--color-brand);
  font-weight: var(--weight-light);
  position: absolute;
  text-decoration: none;
  width: 2ex;
  margin-left: -1.75ex;
  visibility: hidden;
  transform: scale(0.9);
  text-align: center;
}

.doc h1 > a.anchor::before,
.doc h2 > a.anchor::before,
.doc h3 > a.anchor::before,
.doc h4 > a.anchor::before,
.doc h5 > a.anchor::before,
.doc h6 > a.anchor::before {
  content: "\00a7";
}

.doc h1:hover > a.anchor,
.doc h2:hover > a.anchor,
.doc h3:hover > a.anchor,
.doc h4:hover > a.anchor,
.doc h5:hover > a.anchor,
.doc h6:hover > a.anchor {
  visibility: visible;
}

.doc i.fa {
  font-style: normal;
}

.doc .underline {
  text-decoration: underline;
}

.doc strong,
.doc b {
  font-weight: var(--weight-medium);
}

.doc code,
.doc pre {
  font-size: 0.875rem;
}

.doc code {
  color: var(--color-code);
  word-spacing: -0.125em;
}

.doc pre {
  line-height: 1.5;
  margin: 0;
}

.doc pre code {
  display: block;
  color: inherit;
  word-spacing: inherit;
}

.doc .paragraph,
.doc .colist,
.doc .dlist,
.doc .olist,
.doc .ulist,
.doc .admonitionblock,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .sidebarblock,
.doc .verseblock,
.doc .videoblock {
  margin: 1rem 0 0;
}

.doc hr {
  margin: 1rem 0;
  border: 0 solid var(--color-border);
  border-top-width: 1px;
}

.doc table.tableblock {
  border-collapse: collapse;
  /* font-size: 0.85em; */
  margin: 2rem 0;
  /* enable table-layout: fixed if you want the table width to be enforced strictly */
  /* alternative is to wrap table in div and set overflow-x: auto on the wrapper */
  /* table-layout: fixed; */
}

.doc table.spread {
  width: 100%;
}

.doc table.tableblock > caption {
  text-align: left;
  font-weight: var(--weight-bold);
}

.doc th.tableblock,
.doc td.tableblock {
  padding: 0.5rem;
}

.doc th.tableblock {
  border-bottom: 2.5px solid #ddd;
  font-weight: var(--weight-medium);
}

.doc td.tableblock {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

p.tableblock + p.tableblock {
  margin-top: 1rem;
}

/* NOTE in Asciidoctor 1.5.7, this div will have a class */
.doc th.tableblock > div > .paragraph:first-child,
.doc td.tableblock > div > .paragraph:first-child {
  margin-top: 0;
}

.doc .halign-left {
  text-align: left;
}

.doc .halign-right {
  text-align: right;
}

.doc .halign-center {
  text-align: center;
}

.doc .valign-top {
  vertical-align: top;
}

.doc .valign-bottom {
  vertical-align: bottom;
}

.doc .valign-middle {
  vertical-align: middle;
}

.doc .admonitionblock > table {
  display: flex;
}

.doc .admonitionblock > table > tbody {
  flex: 1;
  display: block;
}

.doc .admonitionblock > table > tbody > tr {
  display: flex;
}

.doc .admonitionblock .icon {
  display: none;
}

.doc .admonitionblock td.content {
  display: block;
  flex: 1;
  padding: 0.75rem 1rem;
  font-size: 0.9375rem;
  line-height: 1.6;
}

.doc .admonitionblock td.content > .title {
  display: inline;
}

.doc .admonitionblock td.content::before {
  font-weight: var(--weight-medium);
}

.doc .admonitionblock.caution td.content {
  background-color: rgba(252, 156, 12, 0.15);
}

.doc .admonitionblock.caution td.content::before {
  content: "Caution: ";
  color: rgb(252, 156, 12);
}

.doc .admonitionblock.important td.content {
  background-color: rgba(0, 116, 224, 0.15);
}

.doc .admonitionblock.important td.content::before {
  content: "Important: ";
  color: rgb(0, 116, 224);
}

.doc .admonitionblock.note td.content {
  background-color: rgba(0, 172, 224, 0.15);
}

.doc .admonitionblock.note td.content::before {
  content: "Note: ";
  color: rgb(0, 172, 224);
}

.doc .admonitionblock.tip td.content {
  background-color: rgba(179, 108, 219, 0.15);
}

.doc .admonitionblock.tip td.content::before {
  content: "Tip: ";
  color: rgb(179, 108, 219);
}

.doc .admonitionblock.warning td.content {
  background-color: rgba(234, 35, 40, 0.15);
}

.doc .admonitionblock.warning td.content::before {
  content: "Warning: ";
  color: rgb(234, 35, 40);
}

.doc .admonitionblock td.content > :first-child {
  margin-top: 0;
}

/*
.doc .admonitionblock > table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
*/

.doc .imageblock {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.doc .imageblock img {
  display: block;
}

.doc .imageblock .title {
  color: #191919;
  font-style: italic;
  margin-top: 0.5rem;
}

.doc .imageblock img,
.doc span.image img {
  height: auto;
  max-width: 100%;
}

.quoteblock.abstract blockquote {
  /* color: var(--color-muted); */
  font-size: 0.9375rem;
  margin: 1rem 0 1.5625rem 0;
  font-weight: var(--weight-light);
}

.quoteblock.abstract blockquote * {
  font-weight: inherit;
}

.quoteblock.abstract blockquote::before {
  content: "Abstract: ";
  /* color: #757575; */
  color: var(--color-muted);
  font-weight: var(--weight-medium);
}

.doc ul {
  margin: 0;
  padding: 0 0 0 1.75rem;
}

.doc ol {
  margin: 0;
  padding: 0 0 0 2.625rem;
}

.doc ul.checklist {
  padding-left: 0.5rem;
  list-style: none;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1rem;
  margin-right: 0.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.doc ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.5rem;
}

.doc .olist li + li,
.doc .ulist li + li {
  margin-top: 0.5rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title {
  color: #191919;
  font-style: italic;
  letter-spacing: -0.005em;
  padding-bottom: 0.075rem;
}

/* Other possible colors #248232 (dark green) #2ba84a (brighter green), #f7ef99 (soft yellow), #f78e69 (orangey-grayish) */
.doc .exampleblock > .content {
  background-color: #fff;
  box-shadow: inset 0 0 1.75px #248232;
  padding: 0.75rem;
}

.doc .exampleblock > .content > :first-child {
  margin-top: 0;
}

.doc .sidebarblock {
  background-color: #eee;
  padding: 0.75rem 1.5rem;
}

.doc .sidebarblock > .content > .title {
  color: #191919;
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
  line-height: 1.2;
  text-align: center;
}

.doc .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

.doc pre:not(.highlight),
.doc pre.highlight code {
  background-color: #151514;
  color: #f8f8f2;
  white-space: pre-wrap;
  /* NOTE without word-break=break-word, listingblock causes article to overflow bounds */
  /* NOTE word-break=break-word only works in Chrome, but emulates the behavior of pre-wrap in Firefox */
  /* NOTE can use width: calc(100vw - var(--width-nav) - var(--width-toc) - var(--width-container-gutter)); on main */
  word-break: break-word;
  padding: 0.625rem;
}

/* NOTE assume pre.highlight contains code[data-lang] */
.doc pre.highlight {
  position: relative;
}

.doc .listingblock code[data-lang]::before {
  content: attr(data-lang);
  color: #f8f8f2;
  display: none;
  font-size: 0.75em;
  font-weight: var(--weight-light);
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 0.375rem;
  right: 0.5rem;
}

.doc .listingblock:hover code[data-lang]::before {
  display: block;
}

.doc .dlist dt {
  font-weight: var(--weight-medium);
  margin-top: 1.5rem;
}

.doc .dlist dd > .openblock {
  margin-top: -1rem;
}

.doc .conum[data-value] {
  /* border: 1px solid #989898; */
  border: 1px solid #404040;
  border-radius: 100%;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc .colist {
  font-size: 0.95rem;
}

.doc .colist > table tr > td:first-of-type {
  padding: 0 0.75em;
  line-height: 1;
}

.doc b.button {
  white-space: nowrap;
}

.doc b.button::before {
  content: "[";
  padding-right: 0.25em;
}

.doc b.button::after {
  content: "]";
  padding-left: 0.25em;
}

.doc kbd {
  display: inline-block;
  font-size: 0.7rem;
  background-color: #fafafa;
  border: 1px solid #c1c1c1;
  border-radius: 0.25em;
  box-shadow: 0 1px 0 #c1c1c1, 0 0 0 0.1em #fff inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq i.caret::before {
  content: ">";
  font-weight: var(--weight-medium);
}

.doc-tiles .doc {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.25rem;
}

.doc-tiles .doc > h1 {
  flex-basis: 100%;
}

.doc-tiles .doc .sect1 {
  flex-basis: 50%;
  padding-right: 1.25rem;
  margin-top: 0;
}

.doc-tiles .doc .sect1 > h2 {
  font-size: 1.25rem;
  font-weight: var(--weight-medium);
  /* padding-right: 33.33%; */
}

.doc-tiles .doc .sect1 > h2::after {
  content: "";
  display: block;
  background-color: var(--color-border);
  height: 1px;
  width: 25%;
  margin-top: 0.5em;
}

.doc-tiles .toc {
  display: none !important;
}
