:root {
  --color-brand: #ea2328;
  --color-muted: #666;
  --color-text: #333;
  --color-link: #00ace0;
  --color-code: #555;
  --color-border: #eaeaea;
  --color-navbar-bg: #000;
  --color-navbar-text: #fff;
  --color-footer-bg: #000;
  --color-footer-text: #fff;
  /* --height-navbar: 4rem; */
  --height-navbar: 4.875rem;
  --height-navbar-with-gap: calc(1.5rem + var(--height-navbar));
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

html,
button,
input,
select {
  font-family: "Gotham", sans-serif;
}

body {
  color: var(--color-text);
  line-height: 1.5;
  margin: 0;
}

b,
strong {
  font-weight: var(--weight-bold);
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.25rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
  outline: none;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
  color: var(--color-code);
}

img {
  border: 0;
}
