:root {
  --color-brand: #ea2328;
  --color-muted: #666;
  --color-text: #333;
  --color-link: #00ace0;
  /* --color-code: #000; */
  --color-code: #eb4971;
  --color-border: #c1c1c1;
  --color-navbar-bg: #000;
  --color-navbar-text: #fff;
  --color-footer-bg: #000;
  --color-footer-text: #fff;
  --height-spacer: 1.5rem;
  /* --height-navbar: 4rem; */
  --height-navbar: 4.875rem;
  --height-to-body: calc(var(--height-navbar) + var(--height-spacer));
  --height-nav: calc(100vh - var(--height-to-body) - var(--height-spacer));
  /* --height-body: calc(100vh - var(--height-to-body)); */
  /* --width-main-gutter: 1.5rem; */
  --width-main-gutter: 2.5rem;
  --width-container: 80rem;
  --width-container-gutter: 1.25rem;
  --width-nav: 16rem;
  --width-toc: 12rem;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-bold: 700;
  --z-index-navbar: 2;
  --z-index-footer: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

body {
  color: var(--color-text);
  line-height: 1.5;
  margin: 0;
}

body,
button,
input,
select {
  font-family: "Gotham", sans-serif;
}

code,
kbd,
pre {
  font-family: "Roboto Mono", monospace;
}

b,
strong {
  font-weight: var(--weight-bold);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: var(--width-container);
  padding: 0 var(--width-container-gutter);
}
