div.body {
  display: flex;
  margin-top: var(--height-to-body);
}

main.article {
  flex: 1;
}

nav.nav {
  display: none;
  flex: 0;
  width: var(--width-nav);
  order: -1;
}

aside.toc.sidebar {
  display: none;
  flex: 0 0 var(--width-toc);
}

@media screen and (min-width: 769px) {
  /*
  div.body {
    min-height: var(--height-body);
  }
  */

  nav.nav {
    display: block;
    flex-basis: var(--width-nav);
  }
}

@media screen and (min-width: 1200px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
