/* NOTE min-width of flex: 1 container = content-width to prevent wrapping by default; min-width: 0 lets content wrap */
div.body {
  display: flex;
  margin-top: var(--height-to-body);
  /* overflow-wrap: break-word; */
  word-wrap: break-word; /* IE only supports word-wrap, which is an alias of overflow-wrap */
}

main {
  flex: 1;
  min-width: 0;
}

nav.nav {
  /* NOTE reserve no space in layout by default */
  flex: 0 0 0%;
  order: -1;
  visibility: hidden;
  /* NOTE width must be set in order for fixed child to inherit */
  width: var(--width-nav);
}

aside.toc.sidebar {
  display: none;
  flex: none;
  /* NOTE lock flex width to width of container */
  width: var(--width-toc);
}

@media screen and (min-width: 769px) {
  div.body {
    min-height: var(--height-min-body);
  }

  nav.nav {
    visibility: visible;
    /* NOTE reserve space for nav in flex layout */
    /* NOTE lock flex width to width of container */
    flex-basis: auto;
  }
}

@media screen and (min-width: 1200px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
