div.body {
  display: flex;
  margin-top: var(--height-to-body);
}

main {
  flex: 1;
}

nav.nav {
  visibility: hidden;
  flex: 0;
  /* NOTE width must be set in order for fixed child to inherit */
  width: var(--width-nav);
  order: -1;
}

aside.toc.sidebar {
  display: none;
  flex: 0;
  /* NOTE width must be set to activate overflow-wrap: break-word (not required for word-break: break-word) */
  width: var(--width-toc);
}

@media screen and (min-width: 769px) {
  /*
  div.body {
    min-height: var(--height-body);
  }
  */

  nav.nav {
    visibility: visible;
    /* NOTE reserve space for nav in flex layout */
    flex-basis: var(--width-nav);
  }
}

@media screen and (min-width: 1200px) {
  aside.toc.embedded {
    display: none;
  }

  aside.toc.sidebar {
    display: block;
  }
}
