.crumbs {
  display: none;
  hyphens: none;
  font-size: 0.8125rem;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  .crumbs {
    display: block;
  }
}

.crumbs a {
  color: #3c3d3f;
}

.crumbs a:focus,
.crumbs a:hover {
  color: var(--color-link-focus);
  text-decoration: none;
}

.crumbs ul,
.crumbs li {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.crumbs ul {
  list-style: none;
}

.crumbs li {
  line-height: 1.5;
}

.crumbs li::after {
  content: "/";
  padding: 0 0.25rem;
  color: #57585b;
}

.crumbs li:last-of-type::after {
  content: none;
}
