.component-frame {
  /* rgba(87, 160, 255, 1) */
  background: rgba(var(--color-blue-rgb), 0.07);
  padding: 12px 30px;
  display: flex;
  align-items: center;
}

.frame-body {
  margin-left: 10px;
}

.frame-body .title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: var(--weight-semibold);
  color: var(--color-brand-gray1);
}

.frame-dropdown {
  position: absolute;
  display: none;
}

.frame-dropdown .frame-dropdown-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.frame-link,
.frame-item {
  font-size: 1rem;
  color: var(--color-brand-gray4);
  text-decoration: none;
}

.frame-link:hover,
.frame-item:hover {
  text-decoration: none;
}
