.doc {
  padding-bottom: 4rem;
  color: var(--color-text);
  font-size: 1.0625rem;
}

@media screen and (max-width: 1024px) {
  .doc {
    margin: 0 auto;
  }
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  font-weight: 400;
  line-height: 1.5;
  margin: 1.0625rem 0 calc(0.625rem - 1rem) 0;
}

.doc h1 {
  font-size: 2.25rem;
  line-height: 1.15;
  margin-bottom: calc(1.25rem - 1rem);
}

.doc > h1 {
  margin-top: 0;
}

#preamble + .sect1,
.doc .sect1 + .sect1 {
  margin-top: 1.5625rem;
}

.doc h2 {
  font-size: 2.1875rem;
  line-height: 1.35;
}

.doc h3 {
  font-size: 1.5625rem;
}

.doc h4 {
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
}

.doc h1 > a.anchor,
.doc h2 > a.anchor,
.doc h3 > a.anchor,
.doc h4 > a.anchor,
.doc h5 > a.anchor,
.doc h6 > a.anchor {
  color: var(--color-text);
  position: absolute;
  text-decoration: none;
  width: 1.5ex;
  margin-left: -1.25ex;
  visibility: hidden;
  font-weight: 400;
}

.doc h1 > a.anchor::before,
.doc h2 > a.anchor::before,
.doc h3 > a.anchor::before,
.doc h4 > a.anchor::before,
.doc h5 > a.anchor::before,
.doc h6 > a.anchor::before {
  content: "\00a7";
}

.doc h1:hover > a.anchor,
.doc h2:hover > a.anchor,
.doc h3:hover > a.anchor,
.doc h4:hover > a.anchor,
.doc h5:hover > a.anchor,
.doc h6:hover > a.anchor {
  visibility: visible;
}

.doc a {
  text-decoration: underline;
}

.doc a:focus,
.doc a:hover {
  color: var(--color-link-focus);
  text-decoration: none;
}

.doc i.fa {
  font-style: normal;
}

.doc code {
  color: #555;
}

.doc pre {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

.doc .paragraph,
.doc .colist,
.doc .dlist,
.doc .olist,
.doc .ulist,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .sidebarblock,
.doc .verseblock,
.doc .videoblock {
  margin: 1rem 0 0;
}

.doc hr {
  margin: 1rem 0;
  border: 0 solid var(--color-border);
  border-top-width: 1px;
}

.doc table.tableblock {
  border-collapse: collapse;
  /* font-size: 0.85em; */
  margin: 2rem 0;
  /* enable table-layout: fixed if you want the table width to be enforced strictly */
  /* alternative is to wrap table in div and set overflow-x: auto on the wrapper */
  /* table-layout: fixed; */
}

.doc table.spread {
  width: 100%;
}

.doc table.tableblock caption {
  text-align: left;
  font-weight: var(--weight-bold);
}

.doc table.tableblock th,
.doc table.tableblock td {
  padding: 0.5rem;
}

.doc table.tableblock th {
  border-bottom: 2.5px solid #ddd;
}

.doc table.tableblock td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.doc .halign-left {
  text-align: left;
}

.doc .valign-top {
  vertical-align: top;
}

.doc .tableblock p {
  font-size: inherit;
}

.doc .admonitionblock {
  margin: 1.4rem 0 0;
}

.doc .admonitionblock p,
.doc .admonitionblock td.content {
  font-size: 0.95rem;
}

.doc .admonitionblock td.content > :first-child {
  margin: 0;
}

.doc .admonitionblock pre {
  font-size: 0.85rem;
}

.doc .admonitionblock > table {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  width: 100%;
}

.doc .admonitionblock td.content {
  padding: 1rem 1rem 0.75rem;
  background-color: #fafafa;
  width: 100%;
}

.doc .admonitionblock .icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  height: 1.25rem;
  line-height: 1;
  font-weight: var(--weight-bold);
  text-transform: uppercase;
  border-radius: 0.45rem;
  color: #fff;
  transform: translate(-0.5rem, -50%);
}

.doc .admonitionblock.caution .icon {
  background-color: #a0439c;
}

.doc .admonitionblock.important .icon {
  background-color: #d32f2f;
}

.doc .admonitionblock.note .icon {
  background-color: #217ee7;
}

.doc .admonitionblock.tip .icon {
  background-color: #41af46;
}

.doc .admonitionblock.warning .icon {
  background-color: #e18114;
}

.doc .admonitionblock .icon i {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.doc .admonitionblock .icon i::after {
  content: attr(title);
  hyphens: none;
}

.doc .imageblock {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.doc .imageblock img {
  display: block;
}

.doc .imageblock .title {
  color: #191919;
  font-style: italic;
  margin-top: 0.5rem;
}

.doc .imageblock img,
.doc span.image img {
  height: auto;
  max-width: 100%;
}

.doc p {
  margin: 0;
}

.doc p,
.doc .tableblock,
.doc .content {
  hyphens: auto;
}

/*
.doc .ulist .paragraph,
.doc .olist .paragraph {
  margin: 0;
  padding: 0;
}
*/

.quoteblock.abstract blockquote {
  display: table;
  color: #555;
  font-size: 0.95em;
  margin: 1rem 0 1.5625rem 0;
  text-align: justify;
}

.quoteblock.abstract blockquote::before {
  content: "Abstract: ";
  color: #707070;
  font-weight: var(--weight-bold);
}

.doc table.tableblock .paragraph {
  margin: 0;
  padding: 0;
}

.doc table.tableblock .admonitionblock,
.doc .ulist .admonitionblock,
.doc .olist .admonitionblock {
  padding: 0;
}

.doc ul {
  margin: 0;
  padding: 0 0 0 1.75rem;
}

.doc ol {
  margin: 0;
  padding: 0 0 0 2.625rem;
}

.doc ul.checklist {
  padding-left: 0.5rem;
  list-style: none;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1rem;
  margin-right: 0.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.doc ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.5rem;
}

.doc .olist li,
.doc .ulist li {
  margin-bottom: 0.5rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title {
  color: #191919;
  font-style: italic;
  letter-spacing: -0.005em;
  padding-bottom: 0.075rem;
}

.doc .admonitionblock .title + .paragraph {
  margin-top: 0;
}

/* Other possible colors #248232 (dark green) #2ba84a (brighter green), #f7ef99 (soft yellow), #f78e69 (orangey-grayish) */
.doc .exampleblock > .content {
  background-color: #fff;
  box-shadow: inset 0 0 1.75px #248232;
  padding: 0.75rem;
}

.doc .exampleblock > .content > :first-child {
  margin-top: 0;
}

.doc .sidebarblock {
  background-color: #eee;
  padding: 0.75rem 1.5rem;
}

.doc .sidebarblock > .content > .title {
  color: #191919;
  font-size: 1.25rem;
  font-weight: var(--weight-bold);
  line-height: 1.3;
  text-align: center;
}

.doc .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

/* NEEDS REVIEW prevent pre in table from causing article to exceed bounds */
.doc .tableblock pre,
.doc .listingblock.wrap pre {
  white-space: pre-wrap;
}

.doc pre code {
  color: inherit;
}

.doc pre:not(.highlight),
.doc pre.highlight code {
  background-color: #f5f2f0;
  outline: 1px solid #ccc;
  display: block;
  overflow-x: auto;
  padding: 0.625rem 0.5rem;
}

/* NOTE assume pre.highlight contains code[data-lang] */
.doc pre.highlight {
  position: relative;
}

.doc .listingblock code[data-lang]::before {
  content: attr(data-lang);
  color: #909090;
  display: none;
  font-size: 0.75em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 0.375rem;
  right: 0.5rem;
}

.doc .listingblock:hover code[data-lang]::before {
  display: block;
}

.doc .dlist dt {
  font-weight: 700;
  margin-top: 1.5rem;
}

/*
.doc .dlist dd {
  margin: 0;
  padding-top: 0.15rem;
}
*/

.doc .dlist dd > .openblock {
  margin-top: -1rem;
}

.doc .conum[data-value] {
  /* border: 1px solid #989898; */
  border: 1px solid #404040;
  border-radius: 100%;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  width: 1.25em;
  height: 1.25em;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc .colist {
  font-size: 0.95rem;
}

.doc .colist > table tr > td:first-of-type {
  padding: 0 0.75em;
  line-height: 1;
}

.doc b.button {
  white-space: nowrap;
}

.doc b.button::before {
  content: "[";
  padding-right: 0.25em;
}

.doc b.button::after {
  content: "]";
  padding-left: 0.25em;
}

.doc kbd {
  display: inline-block;
  font-size: 0.7rem;
  background-color: #fafafa;
  border: 1px solid #c1c1c1;
  border-radius: 0.25em;
  box-shadow: 0 1px 0 #c1c1c1, 0 0 0 0.1em #fff inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq i.caret::before {
  content: ">";
  font-weight: var(--weight-bold);
}
