.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  overflow: hidden; /* TEMPORARY */
  position: relative;
  z-index: var(--z-index-footer);
  padding: 3.75rem 0 3.125rem;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer a:not([class]) {
  position: relative;
}

.footer a:not([class])::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-footer-text);
  transform: scale3d(0, 0.9999, 0.9999);
  transition-property: transform;
  transition-duration: 0.3s;
}

.footer a:not([class]):focus::after,
.footer a:not([class]):hover::after {
  transform: scale3d(1, 0.9999, 0.9999);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.footer-links {
  display: flex;
  flex-wrap: wrap; /* TEMPORARY quick hack for mobile */
  max-width: 73.75rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.footer-links .col {
  flex-basis: 20%;
  padding-top: 0.625rem;
}

.footer-links .col:nth-child(1) {
  padding: 0 1.25rem;
  flex-basis: 27%;
}

.footer-links .col:nth-child(2) {
  flex-basis: 16%;
}

.footer-links .col:nth-child(3) {
  flex-basis: 17%;
}

.footer-logo {
  padding: 1rem 0;
  width: 193px;
}

.footer-logo img {
  width: 100%;
  vertical-align: top;
}

.footer-links p.address {
  font-weight: var(--weight-light);
  margin: 0;
  white-space: pre-wrap;
}

.footer-links a.white-btn {
  background-color: var(--color-footer-text);
  color: var(--color-footer-bg);
  margin: 1rem 0;
  display: inline-block;
  /* FIXME this should be max-height 52px */
  padding: 1rem 3.5rem;
  border: 2px solid var(--color-footer-text);
  font-weight: var(--weight-bold);
  font-size: 1.125rem;
  cursor: pointer;
  letter-spacing: -0.025em;
  outline: none;
  position: relative;
  transition: all 0.3s;
}

.footer-links a.white-btn:focus,
.footer-links a.white-btn:hover {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
}

.footer-links a.online ~ a {
  display: inline-block;
  font-weight: var(--weight-bold);
}

.footer-links ul {
  font-size: 0.875rem;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.footer-links li {
  padding: 0 1rem 1.5rem 0;
}

.footer-links li .heading {
  color: var(--color-brand);
  font-weight: var(--weight-bold);
}

.footer-links li .heading,
.footer-links li a {
  line-height: 1.7;
}

.footer-links .social-icons {
  display: flex;
}

.footer-links .social-icons li {
  padding: 0 0.25rem 0 0;
}

.footer-links .social-icons svg {
  fill: var(--color-footer-text);
  height: 29px;
  vertical-align: top;
}

.footer-terms {
  font-size: 0.875rem;
  border-top: 1px solid var(--color-footer-text);
  padding: 2.25rem 0 0.5rem;
  max-width: 71.25rem;
  margin: 0 auto;
}

.footer-terms * {
  margin-right: 1rem;
}

.footer-terms a {
  font-weight: var(--weight-light);
}
