:root {
  --navbar-height: 3.425rem;
}

html.is-clipped--navbar {
  overflow-y: hidden;
}

.navbar {
  background-color: var(--color-navbar-bg);
  border-bottom: 1px solid #919191;
  color: var(--color-navbar-text);
  height: var(--navbar-height);
  word-wrap: break-word;
  font-size: 0.95rem;
  padding: 0 0.9rem;
}

.navbar .container {
  /* extend up to max-width */
  width: 100%;
  padding: 0;
}

.navbar a {
  color: var(--color-navbar-text);
}

.navbar a:focus,
.navbar a:hover {
  text-decoration: none;
}

.navbar-brand {
  align-items: center;
  display: flex;
}

.navbar-brand > .navbar-item {
  padding: 0;
}

.navbar-brand > .navbar-item:first-child {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-brand > .navbar-item:not(:first-child)::before {
  content: "/";
  color: #ccced0;
  padding: 0 0.5rem;
}

.navbar-burger {
  color: var(--color-navbar-text);
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  height: var(--navbar-height);
  position: relative;
  width: 2.75rem;
  margin-left: auto;
  padding: 0;
}

.navbar-burger::-moz-focus-inner {
  border: none;
}

.navbar-burger span {
  background-color: var(--color-navbar-text);
  display: block;
  height: 1px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  top: 50%;
  width: 15px;
}

.navbar-burger span:nth-child(1) {
  margin-top: -6px;
}

.navbar-burger span:nth-child(2) {
  margin-top: -1px;
}

.navbar-burger span:nth-child(3) {
  margin-top: 4px;
}

.navbar-burger.is-active span:nth-child(1) {
  margin-left: -5px;
  transform: rotate(45deg);
  transform-origin: left top;
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  margin-left: -5px;
  transform: rotate(-45deg);
  transform-origin: left bottom;
}

.navbar-menu {
  display: none;
}

.navbar-item,
.navbar-link {
  color: var(--color-text);
  display: block;
  padding: 0 0.625rem;
  position: relative;
}

.navbar-item {
  flex: none;
}

.navbar-item.has-dropdown {
  padding: 0;
}

.navbar-item .icon {
  width: 1.1rem;
  height: 1.1rem;
  display: block;
}

.navbar-dropdown .navbar-item {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.navbar-divider {
  background-color: #e1e1e1;
  border: none;
  height: 1px;
  margin: 0.25rem 0;
}

@media screen and (max-width: 1023px) {
  .navbar-brand .navbar-item {
    align-items: center;
    display: flex;
  }

  .navbar-menu {
    background-color: #fff;
    padding: 0.5rem 0;
  }

  .navbar-menu.is-active {
    display: block;
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);
    max-height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
  }
}

@media screen and (min-width: 1024px) {
  .navbar,
  .navbar .container,
  .navbar-menu,
  .navbar-start,
  .navbar-end {
    align-items: stretch;
    display: flex;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-menu {
    flex-grow: 1;
  }

  .navbar-item,
  .navbar-link {
    align-items: center;
    display: flex;
  }

  .navbar-item.has-dropdown {
    align-items: stretch;
  }

  .navbar-item.is-hoverable:hover .navbar-dropdown {
    display: block;
  }

  .navbar-item.is-hoverable > .navbar-link::after {
    border: 0 solid #ee2528;
    border-width: 0 0 1px 1px;
    content: "";
    display: none;
    width: 0.375em;
    height: 0.375em;
    position: absolute;
    top: 50%;
    right: -1em;
    margin-top: -0.375em;
    pointer-events: none;
    transform: rotate(-45deg);
  }

  .navbar-brand .navbar-item.is-hoverable > .navbar-link {
    /* QUESTION should this apply to all? */
    padding: 0;
  }

  .navbar-item.is-hoverable:hover > .navbar-link::after {
    display: block;
  }

  .navbar-brand {
    margin-right: 5rem;
  }

  .navbar-start {
    justify-content: flex-start;
    margin-right: auto;
    flex-grow: 1;
  }

  .navbar-end {
    justify-content: flex-end;
    margin-left: auto;
  }

  .navbar-dropdown {
    background-color: #1b1a19;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.5);
    border-radius: 0.1875rem;
    /*
    border-radius: 0 0.1875rem 0.1875rem 0.1875rem;
    */
    display: none;
    top: 100%;
    left: 0;
    padding: 1rem;
    min-width: 14rem;
    position: absolute;
  }

  .navbar-brand .navbar-dropdown {
    left: 1rem;
  }

  .navbar-dropdown .navbar-item {
    padding: 0.25rem;
    white-space: nowrap;
  }

  .navbar-dropdown.is-right {
    left: auto;
    right: 0;
  }

  /*
  .navbar-item.has-dropdown:hover,
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: #1b1a19;
  }
  */

  .navbar-dropdown a.navbar-item:hover {
    color: var(--color-link);
  }
}

.navbar-start .navbar-item.search {
  flex-grow: 1;
  justify-content: flex-end;
}

.navbar-start input.query {
  height: 2.4rem;
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 1px 1em;
  border: none;
  font-size: 0.9rem;
}

.navbar-start input.query:focus {
  border: 0 solid var(--color-link);
  border-width: 1px 0 1px 1px;
  padding: 0 1em;
  outline-style: none;
}

.navbar-start:not(.reveal-search-input) input.query {
  display: none;
}

.algolia-autocomplete {
  flex-grow: 1;
  display: flex !important;
}

.algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
  width: 100%;
  max-width: none;
  left: 0 !important;
  margin-top: 0.5rem;
}

.navbar-start button.search {
  background: #e6e6e6 url(../img/search.svg) 50% 50% no-repeat;
  background-size: 50%;
  border: none;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.navbar-start button.search span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
}

.navbar-start.reveal-search-input {
  margin-left: -3rem;
}

.navbar-start.reveal-search-input a.navbar-item {
  display: none;
}

.navbar-start.reveal-search-input button.search {
  background-color: #666;
  background-image: url(../img/close.svg);
}

.navbar .button {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-link);
  border-radius: 0.1875rem;
  font-size: 0.9rem;
  line-height: 1;
  color: var(--color-navbar-text);
  /* padding: 0.75rem 0.9rem; */
  padding: 0.75rem 1.375rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.navbar .button:focus,
.navbar .button:hover {
  background-color: var(--color-link-focus);
}
