.navbar-new-top {
  background: var(--color-brand-white);
}
.navbar-brand img {
  height: 32px;
  transition: height 0.5s ease;
}

.navbar-new-bottom {
  background: var(--color-brand-blue);
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.75rem 1.875rem;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggler {
  display: none;
}
.navbar-nav {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}
.navbar-new-bottom .nav-item {
  margin: 0 15px;
}
.nav-item:first-child {
  margin-left: 0;
}
.navbar-nav .nav-link {
  color: var(--color-brand-white);
  text-transform: uppercase;
  opacity: 0.8;
  font-size: 18px;
  line-height: 23px;
  font-family: "Source Sans Pro", sans-serif;
}
.active .nav-link {
  font-weight: var(--weight-semibold);
  text-decoration: none;
  opacity: 1;
}
.nav-link:focus,
.nav-link:hover {
  text-decoration: none;
}
.primary-action > * {
  display: inline-block;
}
.try-btn {
  font-weight: var(--weight-bold);
}
.parent-site {
  margin: 0 20px;
  padding: 0 25px;
  border-right: 1px solid var(--color-brand-gray5);
  border-left: 1px solid var(--color-brand-gray5);
}
.parent-site a {
  color: var(--color-brand-gray4);
  font-size: 1rem;
}
.search .query {
  border: none;
  width: 283px;
  border-bottom: 1px solid var(--color-brand-gray5);
  color: var(--color-brand-gray4);
  font-size: 1rem;
}
