/**
Steps to change the highlight.js theme:

1. View available themes on https://highlightjs.org/static/demo/
2. Find CSS file for the theme to use https://github.com/highlightjs/highlight.js/tree/master/src/styles
3. Copy the theme's CSS rules here (exclude rules for the `.hljs` selector otherwise it will conflict with other site styles)
4. Replace the `bold` keywoard with `var(--weight-medium)` (because the monospace font we're using has multiple weights and we don't want to use the really strong one).

Other CSS rules for styling code blocks:

- In doc.css, the `.doc pre:not(.highlight), .doc pre.highlight code` selector sets the code block `color` and `background-color`
- In docs.css, the `.doc .listingblock code[data-lang]::before` selector sets the language label `color`
*/
/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: var(--weight-medium);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: var(--weight-medium);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: var(--weight-medium);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: var(--weight-medium);
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--weight-medium);
}
