/**
Steps to change the highlight.js theme:

1. View available themes on https://highlightjs.org/static/demo/
2. Find CSS file for the theme to use https://github.com/highlightjs/highlight.js/tree/master/src/styles
3. Copy the theme's CSS rules here (exclude rules for the `.hljs` selector otherwise it will conflict with other site styles)
4. Replace the `bold` keywoard with `var(--weight-medium)` (because the monospace font we're using has multiple weights and we don't want to use the really strong one).

Other CSS rules for styling code blocks:

- In doc.css, the `.doc pre:not(.highlight), .doc pre.highlight code` selector sets the code block `color` and `background-color`
- In docs.css, the `.doc .listingblock code[data-lang]::before` selector sets the language label `color`
*/
/* Base16 Atelier Forest Light - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Forest Comment */
.hljs-comment,
.hljs-quote {
  color: #766e6b;
}

/* Atelier-Forest Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #f22c40;
}

/* Atelier-Forest Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #df5320;
}

/* Atelier-Forest Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #7b9726;
}

/* Atelier-Forest Blue */
.hljs-title,
.hljs-section {
  color: #407ee7;
}

/* Atelier-Forest Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #6666ea;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--weight-medium);
}
