@media screen and (min-width: 1024px) {
  .main-wrapper {
    display: flex;
  }

  .main {
    flex: auto;
    margin-top: 2.75rem;
    padding: 0 0.9rem;
    /* min-width: 0 required for flexbox to constrain overflowing elements */
    min-width: 0;
  }
}
