.nav-menu {
  background-color: #f5f5f5;
  position: fixed;
  width: inherit;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0.875rem;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 769px) {
  .nav-menu {
    top: var(--height-to-body);
    margin-bottom: 1.5rem;
    height: var(--height-nav);
  }
}

.nav-menu a.nav-link {
  color: var(--color-text);
  text-decoration: none;
}

.nav-menu a.nav-link:focus,
.nav-menu a.nav-link:hover {
  color: var(--color-link);
}

.nav-menu .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu > .nav-list {
  padding: 1rem 0.5rem 1rem 0.75rem;
}

.nav-menu .nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-menu .nav-item[data-depth="0"] {
  margin-left: 0.75em;
}

.nav-menu .nav-item[data-depth="0"] + .nav-item {
  margin-top: 1.25em;
}

.nav-menu .nav-item[data-depth="0"] .nav-item {
  /* margin-top: 0.375rem; */
  /* margin-top: 0.5rem; */
  margin-top: 0.5em;
  margin-left: 0.75em;
}

.nav-item[data-depth="0"] > .nav-line {
  text-transform: uppercase;
}

.nav-menu .nav-item.is-current-page > .nav-line > a.nav-link {
  color: var(--color-text);
  font-weight: var(--weight-medium);
}

.nav-menu .nav-toggle {
  border: 0;
  background: none;
  padding: 0;
  position: absolute;
  margin-left: -1.25em;
  width: 1.25em;
  color: var(--color-border);
  transform: scale(1.2);
}

.nav-menu .nav-toggle::before {
  content: "+";
}

.nav-menu .nav-item.is-active > .nav-line > .nav-toggle::before {
  content: "-";
}

.nav-menu::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.nav-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
}

/* mobile menu */
html.is-clipped--nav {
  overflow-y: hidden;
}

.nav.is-active {
  visibility: visible;
  flex-basis: 0;
}

.nav.is-active .nav-menu {
  transform: translateX(0);
  transition: transform 0.2s;
  z-index: var(--z-index-nav);
}

.nav-control {
  border: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  background: url(../img/menu.svg) no-repeat center;
  background-size: 80%;
}

@media screen and (min-width: 769px) {
  .nav-control {
    display: none;
  }
}
