@media screen and (min-width: 769px) {
  .navigation-container {
    flex-shrink: 0;
    width: 20%;
    padding: 0 0.9rem 1.5625rem;
  }
}

.navigation .panels {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.current-article a {
  display: block;
  color: #000;
  font-weight: bold;
  padding: 0.625rem;
  /* margin: 1rem 1rem 0 1rem; */
  margin: 1rem 0 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
  line-height: 1.15;
}

@media screen and (min-width: 769px) {
  .navigation .panels {
    margin-top: 1.75rem;
  }

  .current-article {
    display: none;
  }
}
