html.is-clipped--nav {
  overflow-y: hidden;
}

@media screen and (max-width: 768px) {
  .navigation-menu {
    margin: 0 4%;
    padding: 4%;
    border: 1px solid #a1a1a1;
  }
}

select.page-versions {
  width: 100%;
  font-size: 1rem;
  height: 1.875rem;
  color: #000;
  background-color: #ddd;
  background-size: 0;
}

.nav-menu a.nav-link,
.nav-menu .nav-text {
  color: var(--color-text);
  display: block;
  padding: 0.125rem 0 0.125rem 0.3125rem;
}

.nav-menu a.nav-link:focus,
.nav-menu a.nav-link:hover {
  background-color: var(--color-border);
  text-decoration: none;
}

.nav-menu .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu > .nav-list {
  margin-top: 1.25rem;
}

.nav-menu .nav-line {
  display: block;
}

.nav-item[data-depth="0"] > .nav-line > .nav-text {
  text-transform: uppercase;
  font-weight: var(--weight-bold);
}

.nav-item.is-current-page > .nav-line > a.nav-link {
  background-color: #00739c;
  color: #fff;
}

.nav-item[data-depth="0"] {
  margin-left: 1.25rem;
  margin-top: 0.625rem;
}

.nav-item[data-depth="0"] .nav-item {
  margin-left: 0.625rem;
}

.nav-toggle {
  color: #ccc;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  position: absolute;
  margin-left: -1.25rem;
  margin-top: 0.25rem;
  outline: none;
}

.nav-toggle:focus,
.nav-toggle:hover {
  color: inherit;
}

.nav-toggle::before {
  content: "+";
}

.nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-item.is-active > .nav-line > .nav-toggle::before {
  content: "-";
}
