@import "../css/vars.css";
/* Panes and cards related vars */
/*
$--pane-colors: (
    gray-card: var(--color-brand-silver),
    red-card: var(--color-brand-red-tint),
    orange-card: var(--color-brand-orange),
    purple-card: var(--color-brand-purple-tint),
    green-card: var(--color-brand-green),
    pink-card: var(--color-brand-pink),
    blue-card: var(--color-brand-light-blue),
    white-card: var(--color-brand-white),
    gray-frame: var(--color-brand-gray),
    red-frame: var(--color-brand-red),
    orange-frame: var(--color-brand-orange),
    purple-frame: var(--color-brand-purple),
    green-frame: var(--color-brand-green),
    pink-frame: var(--color-brand-pink),
    blue-frame: var(--color-brand-light-blue),
    white-frame: var(--color-brand-white)
);
*/
.pane__card > .sectionbody, .pane__frames > .sectionbody, .pane__cards > .sectionbody {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-items: flex-start;
  align-items: stretch;
  align-content: space-between;
}

.banner, .pane__frame--red, .pane__frame--purple, .pane__frame--orange, .pane__frame--blue, .pane__frame--green, .pane__frame--pink, .pane__card--red, .pane__card--purple, .pane__card--orange, .pane__card--blue, .pane__card--green, .pane__card--pink, .pane__frames > .sectionbody > .sect2, .pane__cards > .sectionbody > .sect2, .pane__frames > .sectionbody > .ulist, .pane__cards > .sectionbody > .ulist {
  flex: 1 0 auto;
  margin: 0.75rem 0.75rem 0 0;
  padding: 1rem 0.75rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
}

.pane__frames > .sectionbody > .ulist, .pane__cards > .sectionbody > .ulist {
  margin: 0 0.5rem 0.75rem 0;
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  list-style: square;
  margin-top: 0 !important;
}

.pane__cards > .sectionbody > .ulist {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 1) {
  border: 0.125rem solid var(--color-brand-pink);
  background-color: var(--color-brand-pink);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 1) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 2) {
  border: 0.125rem solid var(--color-brand-green);
  background-color: var(--color-brand-green);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 2) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 3) {
  border: 0.125rem solid var(--color-brand-light-blue);
  background-color: var(--color-brand-light-blue);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 3) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 4) {
  border: 0.125rem solid var(--color-brand-orange);
  background-color: var(--color-brand-orange);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 4) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 5) {
  border: 0.125rem solid var(--color-brand-purple);
  background-color: var(--color-brand-purple);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 5) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 6) {
  border: 0.125rem solid var(--color-brand-red);
  background-color: var(--color-brand-red);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .ulist:nth-of-type(4n + 6) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .ulist > ul {
  list-style: none;
  padding-left: 0rem;
  margin-left: 0rem;
}
.pane__cards > .sectionbody > .ulist * ul {
  list-style: square;
  padding-left: 1rem;
  margin-left: 0rem;
}
.pane__cards > .sectionbody > .sect2 {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+1) {
  border: 0.125rem solid var(--color-brand-pink);
  background-color: var(--color-brand-pink);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+1) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+2) {
  border: 0.125rem solid var(--color-brand-green);
  background-color: var(--color-brand-green);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+2) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+3) {
  border: 0.125rem solid var(--color-brand-light-blue);
  background-color: var(--color-brand-light-blue);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+3) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+4) {
  border: 0.125rem solid var(--color-brand-orange);
  background-color: var(--color-brand-orange);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+4) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+5) {
  border: 0.125rem solid var(--color-brand-purple);
  background-color: var(--color-brand-purple);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+5) a {
  text-decoration: none;
  color: lightgray;
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+6) {
  border: 0.125rem solid var(--color-brand-red);
  background-color: var(--color-brand-red);
  color: var(--color-brand-white);
}
.pane__cards > .sectionbody > .sect2:nth-child(4n+6) a {
  text-decoration: none;
  color: lightgray;
}

.pane__frames > .sectionbody > .ulist {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 1) {
  border: 0.125rem solid var(--color-brand-pink);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 2) {
  border: 0.125rem solid var(--color-brand-green);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 3) {
  border: 0.125rem solid var(--color-brand-light-blue);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 4) {
  border: 0.125rem solid var(--color-brand-orange);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 5) {
  border: 0.125rem solid var(--color-brand-purple);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist:nth-of-type(4n + 6) {
  border: 0.125rem solid var(--color-brand-red);
  background-color: transparent;
}
.pane__frames > .sectionbody > .ulist > ul {
  list-style: none;
  padding-left: 0rem;
  margin-left: 0rem;
}
.pane__frames > .sectionbody > .ulist * ul {
  list-style: square;
  padding-left: 1rem;
  margin-left: 0rem;
}
.pane__frames > .sectionbody > .sect2 {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+1) {
  border: 0.125rem solid var(--color-brand-pink);
  background-color: transparent;
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+2) {
  border: 0.125rem solid var(--color-brand-green);
  background-color: transparent;
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+3) {
  border: 0.125rem solid var(--color-brand-light-blue);
  background-color: transparent;
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+4) {
  border: 0.125rem solid var(--color-brand-orange);
  background-color: transparent;
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+5) {
  border: 0.125rem solid var(--color-brand-purple);
  background-color: transparent;
}
.pane__frames > .sectionbody > .sect2:nth-child(4n+6) {
  border: 0.125rem solid var(--color-brand-red);
  background-color: transparent;
}

.pane__card--pink {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-pink);
  background-color: var(--color-brand-pink) !important;
  color: var(--color-brand-white);
}
.pane__card--pink a {
  text-decoration: none;
  color: lightgray;
}
.pane__card--green {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-green);
  background-color: var(--color-brand-green) !important;
  color: var(--color-brand-white);
}
.pane__card--green a {
  text-decoration: none;
  color: lightgray;
}
.pane__card--blue {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-light-blue);
  background-color: var(--color-brand-light-blue) !important;
  color: var(--color-brand-white);
}
.pane__card--blue a {
  text-decoration: none;
  color: lightgray;
}
.pane__card--orange {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-orange);
  background-color: var(--color-brand-orange) !important;
  color: var(--color-brand-white);
}
.pane__card--orange a {
  text-decoration: none;
  color: lightgray;
}
.pane__card--purple {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-purple);
  background-color: var(--color-brand-purple) !important;
  color: var(--color-brand-white);
}
.pane__card--purple a {
  text-decoration: none;
  color: lightgray;
}
.pane__card--red {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-red);
  background-color: var(--color-brand-red) !important;
  color: var(--color-brand-white);
}
.pane__card--red a {
  text-decoration: none;
  color: lightgray;
}

.pane__frame--pink {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-pink) !important;
  background-color: transparent;
}
.pane__frame--green {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-green) !important;
  background-color: transparent;
}
.pane__frame--blue {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-light-blue) !important;
  background-color: transparent;
}
.pane__frame--orange {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-orange) !important;
  background-color: transparent;
}
.pane__frame--purple {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-purple) !important;
  background-color: transparent;
}
.pane__frame--red {
  flex-basis: calc((100% - (2 * 1rem)) / 2);
  border: 0.125rem solid var(--color-brand-red) !important;
  background-color: transparent;
}

.cols-3 > .sectionbody > .ulist,
.pane__cards.cols-3 .sect2,
.pane__card.cols-3 .sect2,
.pane__frames.cols-3 .sect2 {
  flex-basis: calc((100% - (3 * 1rem)) / 3);
}

.cols-4 > .sectionbody > .ulist,
.pane__cards.cols-4 .sect2,
.pane__card.cols-4 .sect2,
.pane__frames.cols-4 .sect2 {
  flex-basis: calc((100% - (4 * 1rem)) / 4);
}

.banner {
  border: 0.125rem solid var(--color-brand-red);
  background-color: transparent;
  flex-basis: 100%;
}

.wide {
  flex: 2 0 auto !important;
}

.narrow {
  flex: 0 0 auto !important;
}

.no-color {
  background-color: transparent !important;
  border: transparent !important;
}

.no-title h2 {
  max-height: none;
  visibility: hidden;
  padding-top: 0rem;
  margin-top: 0rem;
}

/*# sourceMappingURL=panes.css.map */
