.toc {
  font-size: 0.875rem;
  line-height: 1;
}

.toc.sidebar {
  /* NOTE similar to word-break: break-word in Chrome and word-wrap: break-word in Firefox */
  overflow-wrap: break-word;
}

.toc-menu {
  border: 0 solid var(--color-brand-red);
  border-width: 0 0 0 0.25rem;
  border-image: linear-gradient(var(--color-brand-purple), var(--color-brand-pink)) 0 0 0 100%;
  margin-bottom: 1.5rem;
}

.toc.sidebar .toc-menu {
  position: sticky;
  top: var(--height-to-body);
  width: inherit;
}

.toc.embedded .toc-menu {
  /* margin-top: 1.5rem; */
  margin-top: 1rem;
}

.toc .toc-menu h3 {
  font-size: inherit;
  font-weight: var(--weight-medium);
  margin: 0;
  line-height: inherit;
}

.toc .toc-menu ol {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.toc .toc-menu h3,
.toc .toc-menu ol {
  margin-left: 0.75rem;
}

.toc .toc-menu li {
  margin: 0.5rem 0 0;
}

.toc a {
  color: inherit;
  text-decoration: none;
}

.toc a:hover {
  color: var(--color-link);
}

.toc a.is-active {
  font-weight: var(--weight-medium);
}

.toc a.is-active:focus,
.toc a.is-active:hover {
  color: inherit;
}
