.toc {
  font-size: 0.875rem;
}

.toc-menu {
  /* border: 0 solid var(--color-brand-red);
  border-width: 0 0 0 0.25rem;
  border-image: linear-gradient(var(--color-brand-purple), var(--color-brand-pink)) 0 0 0 100%; */
  margin-bottom: 1.5rem;
}
/* .toc.sidebar .toc-menu {position: fixed;width: inherit; position: sticky;top: var(--height-to-body)max-height: var(--height-nav);overflow-y: auto; -ms-overflow-style: none;} */
.sidebar-box {
  position: fixed; /* for IE */
  width: inherit; /* for position: fixed */
  position: sticky; /* stylelint-disable-line declaration-block-no-duplicate-properties */
  top: var(--height-to-body);
  max-height: var(--height-nav);
  overflow-y: auto;
  -ms-overflow-style: none;
}

.toc.embedded .toc-menu {
  margin-top: 1rem;
}

.toc-menu::-webkit-scrollbar {
  width: 0;
}

.toc .toc-menu h3 {
  font-size: 0.875rem;
  font-weight: var(--weight-bold);
  margin: 0;
  line-height: 1;
  color: var(--color-brand-gray5);
  display: inline-block;
  position: relative;
}

.toc .toc-menu h3::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(../img/heading-icon.svg) no-repeat center center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toc .toc-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.toc .toc-menu h3,
.toc .toc-menu ul {
  margin-left: 0.75rem;
}

.toc .toc-menu li {
  margin: 0;
}

.toc .toc-menu li a::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  display: inline-block;
  height: 0;
  width: 2px;
  background: var(--color-active-tabset);
  transition: all 0.3s;
}

.toc .toc-menu li a.is-active::before,
.toc .toc-menu li a:hover::before {
  height: 100%;
}

.toc ul li a {
  display: block;
  text-decoration: none;
  position: relative;
  color: var(--color-brand-gray4);
  font-weight: var(--weight-normal);
  font-size: 0.875rem;
  line-height: 1;
  padding: 8px 0;
}

.toc ul li a:hover {
  color: var(--color-active-tabset);
  text-decoration: none;
}

.toc ul li a.is-active {
  font-weight: var(--weight-semibold);
  letter-spacing: -0.008em;
}

.toc ul li a.is-active:focus,
.toc ul li a.is-active:hover {
  color: var(--color-active-tabset);
}

.toc ul li a code {
  line-height: 1.125;
  color: inherit;
}
