.toolbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 0.3125rem;
}

.navigation-toggle {
  background: url(../img/menu.svg) no-repeat 50% 47.5%;
  background-size: 49%;
  border: none;
  outline: none;
  cursor: pointer;
  display: block;
  height: 2.5rem;
  padding: 0;
  width: 2.5rem;
  margin-right: -0.25rem;
}

.navigation-toggle::-moz-focus-inner {
  border: none;
}

@media screen and (min-width: 1024px) {
  .navigation-toggle {
    display: none;
  }
}

.navigation-toggle.is-active {
  background-image: url(../img/back.svg);
  background-size: 41.5%;
}

.edit-this-page {
  display: none;
}

@media screen and (min-width: 769px) {
  .edit-this-page {
    float: right;
    display: block;
    line-height: 1;
    font-size: 0.8125rem;
    margin-top: -1.5rem;
  }

  .edit-this-page a {
    opacity: 0.6;
  }

  .edit-this-page a:focus,
  .edit-this-page a:hover {
    opacity: 1;
  }
}

.utilities {
  margin: 0.3125rem 0 1.25rem;
}

@media screen and (min-width: 769px) {
  .utilities {
    width: 14.375rem;
    float: right;
    margin-left: 1.25rem;
  }
}

.toc {
  background-color: var(--color-border);
  font-size: 0.8125rem;
  padding: 1.25rem 0.9375rem 1.25rem 1.25rem;
}

.toc h3 {
  font-size: inherit;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  font-weight: 400;
  line-height: 1.35;
}

.toc ol {
  margin: 0;
  padding: 0 0 0 1.25rem;
}

.toc li {
  margin-top: 0.125rem;
}

.toc a {
  text-decoration: none;
}
