/* banner styling */
.tutorials .banner {
  background: linear-gradient(to right, var(--color-brand-purple) 0%, var(--color-brand-light-blue) 100%);
  color: white;
  height: 300px;
}

/* vertically align title and sub-title */
.tutorials .banner-content {
  display: flex;
  align-items: center;
}
