.tutorials .banner {
  background: linear-gradient(to right, var(--color-brand-purple) 0%, var(--color-brand-light-blue) 100%);
  color: white;
  height: 300px;
}

.tutorials .banner-content {
  display: flex;
  align-items: center;
}

.searchbar {
  background-color: var(--color-navbar-bg);
  height: var(--height-navbar);
  line-height: 1;
}

.searchbar .container {
  display: flex;
  align-items: center;
  height: inherit;
}

.searchbar,
.searchbar a {
  color: var(--color-navbar-text);
}

.searchbar-menu {
  display: flex;
  flex-grow: 1;
}

.searchbar-start {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 1.0625rem;
}

.searchbar-start .searchbar-item.search {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  padding-right: 1.25rem;
}

.searchbar-start input.query {
  flex-grow: 1;
  background-color: var(--color-navbar-bg);
  color: inherit;
  padding: 0;
  font-size: 1.3rem;
  font-weight: var(--weight-light);
  border: 0;
}
