:root {
  /* NOTE tint colors are 15% transparent */
  /* primary */
  --color-brand-black: #000;
  --color-brand-red: #ea2328;
  --color-brand-red-tint: #fcdedf;
  --color-brand-white: #fff;
  /* secondary */
  --color-brand-blue: #57a0ff;
  --color-blue-rgb: 87, 160, 255;
  --color-brand-light-blue: #00ace0;
  --color-brand-light-blue-tint: #d9f3fb;
  --color-brand-pink: #eb4971;
  --color-brand-green: #00b9be;
  --color-brand-purple: #b36cdb;
  --color-brand-purple-tint: #f4e9fa;
  --color-brand-tip: #00d770;
  --color-brand-note: #4e90e6;
  --color-brand-important: #9e70b1;
  --color-brand-warning: #ed2226;
  --color-brand-caution: #f57f17;
  /* tertiary */
  --color-brand-gray1: #292b36;
  --color-brand-gray2: #3d4151;
  --color-brand-gray3: #52566c;
  --color-brand-gray4: #73768a;
  --color-brand-gray5: #c8cbdf;
  --color-brand-gray6: #eaebf1;
  --color-brand-gray7: #f9f9f9;
  /* --color-brand-silver: #ccc; */
  --color-brand-silver: #c1c1c1;
  /* --color-brand-blue: #0074e0; */
  --color-brand-blue-tint: #d9eafb;
  --color-brand-orange: #fc9c0c;
  --color-brand-orange-tint: #fff0da;
  --color-muted: var(--color-brand-gray);
  --color-text: #333;
  --color-link: var(--color-brand-light-blue);
  --color-code: var(--color-brand-pink);
  --color-border: var(--color-brand-silver);
  /* --color-border-table: #666; */
  --color-border-table: #dadada;
  --color-shade: #f3f3f3;
  --color-navbar-bg: var(--color-brand-black);
  --color-navbar-text: var(--color-brand-white);
  --color-footer-bg: var(--color-brand-black);
  --color-footer-text: var(--color-brand-white);
  --height-spacer: 1.3rem;
  /* --height-navbar: 4rem; */
  --height-navbar: 6.09rem;
  --height-to-body: calc(var(--height-navbar) + var(--height-spacer));
  --height-min-body: calc(100vh - var(--height-to-body));
  --height-nav: calc(var(--height-min-body) - var(--height-spacer));
  --labels-font-size: 0.75rem;
  --labels-line-height: 1;
  /* --width-main-gutter: 1.5rem; */
  --width-main-gutter: 2.5rem;
  --width-container: 90rem;
  --width-container-fluid: 100%;
  --width-container-gutter: 1.25rem;
  --width-nav: 20rem;
  --width-toc: 12rem;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --z-index-feedback: 7;
  --z-index-nav-mobile: 6;
  --z-index-navbar-dropdown-link: 5;
  --z-index-navbar-dropdown: 4;
  --z-index-navbar: 3;
  --z-index-footer: 2;
  --z-index-nav: 1;

  /* Color brand tabsets */
  --color-active-tabset: #57a1ff;
}
