<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>{{{detag (or page.title 'Page Not Found')}}}{{#if site.title}} | {{{site.title}}}{{/if}}</title>
{{> head-last}}
  </head>
  <body class="status-404">
{{> header}}
{{> body-404}}
{{> footer}}
  </body>
</html>
