<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couchbase Documentation</title>
    {{#if site.url}}
    <link rel="canonical" href="{{site.url}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
{{> head}}
  </head>
  <body class="home">
{{> header}}
{{> body-home}}
{{> footer}}
  </body>
</html>
