<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>Tutorials{{#if site.title}} | {{{site.title}}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{ifelse (and (eq env.SUPPORTS_CURRENT_URL 'true') (ne page.version 'master')) (concat site.url (current-url page.url)) page.canonicalUrl}}">
    {{/if}}
{{> head-last}}
  </head>
  <body class="tutorials body tiles">
{{> header}}
{{> body-tutorials}}
{{> footer}}
  </body>
</html>
