<!DOCTYPE html>
<html lang="en">
  <head>
{{> head-first}}
    <title>Tutorials{{#with site.title}} | {{this}}{{/with}}</title>
    {{#with (canonical-url)}}
    <link rel="canonical" href="{{this}}">
    {{/with}}
{{> head-last}}
  </head>
  <body class="tutorials body tiles">
{{> header}}
{{> body-tutorials}}
{{> footer}}
  </body>
</html>
